<!DOCTYPE html>
<html>

  {% load  static %}
  {% load rest_framework lazysignup_tags %}

  <head>
    <link rel="shortcut icon" href="/static/favicon.ico" />

    {% block head %}

      <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
      <title>{% block meta_title %}Mailpipe{% endblock %} </title>
      <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.css" %}" d>


      <script src="{% static "popper_js/1_14_7/umd/popper.min.js" %}" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"></script>
      <script src="{% static "rest_framework/js/jquery-3.3.1.min.js" %}"></script>
      <script src="{% static "bootstrap/4_3_1/js/bootstrap.min.js" %}" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"></script>
      <script src="{% static "js/jsoneditor.min.js" %}"></script>
      <script src="{% static "js/jsoneditor_init.js" %}"></script>
      <script src="{% static "rest_framework/js/prettify-min.js" %}"></script>
      <script src="{% static "rest_framework/js/default.js" %}"></script>

      <style type="text/css">
        body {
          padding-top: 20px;
          padding-bottom: 40px;
        }

        /* Custom container */

        .welcome .masthead-brand{
          display: none;
        }

        .row.gray {
          background-color: #f4f4f4;
        }
        .pad {
          padding: 40px 0;
        }
        label[for=id_json] {
          display: none;
        }
        tr.clickableRow { cursor: pointer; }


      </style>


    {% endblock %}
  </head>

  <body class="{% block bodyclass %}{% endblock %} ">
    <div class="container">

      {% block masthead %}
        <div class="masthead" role="navigation">
          <div class="masthead-brand">
            <h1><a class="header" class="" href="/welcome/"> Mailpipe</a></h1>
            <small class="muted">A simple API for incoming email.</small>
          </div>
          <ul class="nav nav-pills justify-content-end">
            {% if user.is_authenticated %}
              <li class="nav-item">
              <a class="nav-link" href="/welcome/">Welcome 
                {% if user|is_lazy_user %}
                  Anon
                {% else %}
                  {{ user.username }}         
                {% endif %}
              </a>
              </li>
              <li  class="nav-item">
              <a class="nav-link" href="/">Inboxes</a>
              </li>
              <li class="nav-item">
              <a  class="nav-link" href="/subscription/">Subscription</a>
              </li>
              <li class="nav-item">
              <form action='/_logout' method="POST">
                <button class="btn btn-link nav-link" type="submit">Logout</button>
                {% csrf_token %}
              </form>
              </li>
            {% else %}
              <li class="nav-item"><a  class="nav-link" href="/_login">Log in via Functup</a></li>
            {% endif %}
          </ul>
        </div>
      {% endblock %}
      {% if user|is_lazy_user %}
        <div class="alert alert-dark sticky-top position-sticky">

          Thanks for trying out Mailpipe, remember to
          {% if request.user.is_tor %}
            <a href="https://{{ settings.TOR_DOMAIN }}/convert/?next=https://{{ request.get_host }}/_login">set a username and password on Functup</a>
          {% else %}
            <a href="https://{{ settings.CLEAR_DOMAIN }}/convert/?next=https://{{ request.get_host }}/_login">set a username and password on Functup</a>
          {% endif%}
        </div>
      {% endif %}

      {% block content %}
        {{ content }}
      {% endblock %}

      <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="col-6 col-md">
            <h5>Features</h5>
            <ul class="list-unstyled text-small">
              <li>Unlmited Inboxes</li>
              <li>Custom MX Records</li>
              <li>REST API</li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
              <li><a class="" href="/faq/">FAQs</a></li>
              <li>Support: <a class="" href="mailto:support@mailpipe.io">support@mailpipe.io</a></li>

            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
              <li>Follow <a class="" href="https://twitter.com/mailpipe">@Mailpipe</a> on twitter</li>
              <li>Runs on Python 3 🐍</li>
              <li>Hosted on <a target="blank" href="https://{{ settings.CLEAR_DOMAIN }}">Functup</a></li>
            </ul>
          </div>
          <div class="col-2">
            <small class="d-block mb-3 ">&copy; 2019</small>
          </div>
        </div>
      </footer>

    </div>




    <script>
      $(function(){
        var activeurl = window.location.pathname;
        $('a[href="'+activeurl+'"]').addClass('active');
      })
    </script>
    <script>
      function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
            }
          }
        }
        return cookieValue;
      }
    </script>

  </body>
  <Plan/html>
