{% extends "base.html" %}

{% block content %}

  <dl class="dl-horizontal">
    <dt>Address</dt>
    <dd>{{address}}</dd>
    <dt>Callback URL</dt>
    <dd><code>{{callback_url | default:"None"}}</code></dd>
    <dt>Inbox Size</dt>
    <dd>{{ messege_length_sum|filesizeformat }}</dd>

    <dt>Mesages</dt>
    <dd>
    <a href="{{ messages }}" >{{ message_count }} Message{{ message_count|pluralize }}</a>
    </dd>
  </dl>

  {% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
      {% for error in form.non_field_errors %}
        {{ error }}
      {% endfor %}
    </div>
  {% endif %}

  {% if form.json.errors %}
    <div class="alert alert-danger" role="alert">
      {% for error in form.json.errors %}
        {{ error }}
      {% endfor %}
    </div>
  {% endif %}


  <form id="" action='' method=POST>
    {% for field in form %}
      <div class="fieldWrapper">
        {{ field }}
        {% if field.help_text %}
          <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
      </div>
    {% endfor %}
    {% csrf_token %}
    <button class="btn btn-lg btn-primary" id='submit'>Update</button>
  </form>

  <form id="" action='' method="POST">
    <input type="submit" value="Delete" class="btn btn-danger">
    <input type="hidden" name="delete" value="1">
    {% csrf_token %}
  </form>
{% endblock content %}
