
{% extends "base.html" %}
{% load static %}

{% block meta_title %}
  Home - {{ block.super }}
{% endblock %}

{% block bodyclass %}home{% endblock%}


{% block content %}

  <div class="row pad">
    <div class="span4">
      <img class="img-responsive" src="{% static "flow.png" %}">
    </div>
    <div class="span6">
      <h1>Mailpipe</h1>
      <p class="lead">a simple API to start receiving email in your app in 5 minutes.
      </p>
      {% if user.is_authenticated %}
        <a href="/demo" class="btn">Walk through the demo</a>
      {% else %}
        <form action="/_login?lazy&next=/demo" method=POST>
          {% csrf_token %}
          <button class="btn btn-large">Let me try it!</button>
          <a href="/_login" class="btn btn-large btn-primary">Sign me up!</a>
        </form>
      {% endif %}
    </div>
  </div>

  <div class="row gray pad">
    <div class="span9">
      <h2>Why Mailpipe?</h2>
      <p class="lead">
      Dynamically generate email addresses for your users<br>
      Retrieve emails on your own time<br>
      Automatic parsing and content type for attachments regardless of size<br>
      Develop your app without a public webserver<br>
      </p>
    </div>
    <div class="span3">
      <img src="{% static "filter-transparent.png" %}">
    </div>
  </div>

  <div class="row">
    <table class="table table-hover">
      <thead>
        <tr>
          {% for name, plan in plans.items %}
            <th>
              <h2 class=""> {{ plan.name }} </h2>

            </th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        <tr>
          {% for name, plan in plans.items %}
            <td>
              <h3> {{ plan.price.BTC|floatformat:8 }} BTC</h3>
            </td>
          {% endfor %}
        </tr>
        <tr>
          {% for name, plan in plans.items %}
            <td>
              {% if plan.features.max_inboxes == 'UNLIMITED' %}
                <strong>UNLIMITED</strong> inboxes!
              {% else %}
                Up to <strong>{{ plan.features.max_inboxes }}</strong> inboxes
              {% endif %}
            </td>
          {% endfor %}
        </tr>
        <tr>
          {% for name, plan in plans.items %}
            <td>
              Optional callback URL
            </td>
          {% endfor %}
        </tr>

        <tr>
          {% for name, plan in plans.items %}
            <td>
              Create inboxes using mailpipe.io 
            </td>
          {% endfor %}
        </tr>

        <tr>
          {% for name, plan in plans.items %}
            <td>
              {% if  plan.features.custom_mx %}
                Custom MX records!
              {% else %}
                <span style="text-decoration: line-through">  Custom MX records</span>
              {% endif %}
            </td>
          {% endfor %}
        </tr>
        <tr>
          {% for name, plan in plans.items %}
            <td>
              <a class="btn btn-primary btn-block btn-large" href="/plans/{{ name }}">Buy now!</a>
            </td>
          {% endfor %}
        </tr>
        <tr>
          {% for name, plan in plans.items %}
            <td>
              <h3> {% for d, t in plan.duration.items %}
                  {{t}}  {{ d }}
                {% endfor %}</h3>
            </td>
          {% endfor %}
        </tr>

      </tbody>
    </table>



  </div>
{% endblock %}
