{% extends "base.html" %}
{% block content %}
  {% if detail %}
    <div class="alert alert-info">
      {{ detail }}
    </div>
  {% endif %}
  <div class="btn-group">
    {% if previous %}
      <a class="btn" href="{{ previous }}">Previous Page</a>
    {% endif %}
    {% if next %}
      <a class="btn" href="{{ next }}">Next Page</a>
    {% endif %}
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>From</th>
        <th>To</th>
        <th>Subject</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for r in results %}
        <tr>
          <td>
            {{ r.frm }} 
          </td>
          <td>
            {{ r.to }} 
          </td>
          <td>
            {{ r.subject }}
          </td>
          <td>
            {{ r.message | truncatechars:100 }}
          </td>
          <td>
            <a href="{{ r.url }}">View</a>

          </td>
          <td>

            <form id="" action='{{ r.url }}' method="POST">
              <input type="submit" value="Delete" class="btn btn-danger">
              <input type="hidden" name="delete" value="1">
              {% csrf_token %}
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if not results %}
    <div class="alert alert-block alert-info">
      <h4>No messages here...</h4>
      Try giving someone this address to test it.
      <a href="mailto:{{ email.address }}">{{ email.address }}</a>
    </div>
  {% endif %}
  <div class="row">
    <div class="col">
      <div class="show multi-collapse" id="apidocs">
        <div class="card card-body">
          <h5 class="card-title">API Documentation</h5>
          <p>
          Get all messages in an inbox:
          <p>
          <pre>$ curl -H "Authorization: Token $TOKEN" https://mailpipe.io/$ADDRESS/</pre>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

