{% extends "base.html" %}
{% block content %}
  {% if detail %}
    <div class="alert alert-info">
      {{ detail }}
    </div>
  {% endif %}
  <div class="btn-group">
    {% if previous %}
      <a class="btn" href="{{ previous }}">Previous Page</a>
    {% endif %}
    {% if next %}
      <a class="btn" href="{{ next }}">Next Page</a>
    {% endif %}
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>From</th>
        <th>To</th>
        <th>Subject</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for r in results %}
        <tr>
          <td>
            {{ r.frm }} 
          </td>
          <td>
            {{ r.to }} 
          </td>
          <td>
            {{ r.subject }}
          </td>
          <td>
            {{ r.message | truncatechars:100 }}
          </td>
          <td>
            <a href="{{ r.url }}">View</a>

          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

