{% extends "base.html" %}

{% block content %}

  <h2>Plans</h2>


  {% if profile.current_plan %}
    Current plan: {{ profile.current_plan }}
  {% else %}
    Current plan: Demo account
  {% endif %}

  <ul class="nav nav-tabs">
    {% for slug, plan in plans.items %}
      <li class="nav-item">

      <a class="nav-link"  href="/plans/{{ slug }}/"> {{ plan.name }}</a>
      </li>
    {% endfor %}
  </ul>



  {% for name, plan in plans.items %}
    {{ name }}, {{ plan }}
  {% endfor %}
  {% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
      {% for error in form.non_field_errors %}
        {{ error }}
      {% endfor %}
    </div>
  {% endif %}

  {% if form.json.errors %}
    <div class="alert alert-danger" role="alert">
      {% for error in form.json.errors %}
        {{ error }}
      {% endfor %}
    </div>
  {% endif %}

  <form id="" action='' method=POST>
    {% for field in form %}
      <div class="fieldWrapper">
        {{ field }}
        {% if field.help_text %}
          <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
      </div>
    {% endfor %}
    {% csrf_token %}
    <button class="btn" id='submit'>Update</button>
  </form>

{% endblock content %}
