{% extends "base.html" %}

{% block content %}

  <h2>Plans</h2>

  {% if profile.data.current_plan %}

    {%with plan=profile.data.current_plan%}
      <h4>Current Plan</h4>
      <ul class=" mt-3 mb-4">
        <li>API access</li>
        {% if plan.features.max_inboxes == 'UNLIMITED' %}
          <li><strong>UNLIMITED</strong> inboxes!</li>
        {% else %}
          <li>Up to <strong>{{ plan.features.max_inboxes }}</strong> inboxes</li>
        {% endif %}
        <li>Email support</li>
        {% if  plan.features.callback %}
          <li>Callback URL for server notifications</li>
        {% endif %}
        {% if  plan.features.custom_mx %}
          <li>Custom domain</li>
        {% endif %}
      </ul>
    {% endwith %}
  {% else %}
    Current plan: Demo account
  {% endif %}
  <h4>Current Balance</h4>
  ${{balance}} USD

  <ul class="nav nav-tabs">
    {% for slug, plan in plans.items %}
      <li class="nav-item">

      <a class="nav-link"  href="/plans/{{ slug }}/"> {{ plan.name }}</a>
      </li>
    {% endfor %}
  </ul>


  <div class="card mb-4 box-shadow">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal"> {{ plan.name }} </h4>
    </div>
    <div class="card-body">
      <h1 class="card-title pricing-card-title"> ${{ plan.price.USD }} USD  </h1>
      <h3>Billing cycle: {% for d, t in plan.duration.items %} {{t}}  {{ d }} {% endfor %} </h3>
      <h4>Features:</h4>
      <ul class=" mt-3 mb-4">
        <li>API access</li>
        {% if plan.features.max_inboxes == 'UNLIMITED' %}
          <li><strong>UNLIMITED</strong> inboxes!</li>
        {% else %}
          <li>Up to <strong>{{ plan.features.max_inboxes }}</strong> inboxes</li>
        {% endif %}
        <li>Email support</li>
        {% if  plan.features.callback %}
          <li>Callback URL for server notifications</li>
        {% else %}
          <li><s>Callback URL for server notifications</s></li>
        {% endif %}
        <li>Mailpipe.io domain</li>
        {% if  plan.features.custom_mx %}
          <li>Custom domain</li>
        {% else %}
          <li><s>Custom domain</s></li>
        {% endif %}
      </ul>
    </div>
  </div>


  {% if topup_needed %}
    <div class="alert alert-info" role="alert">
      Hey it looks like your balance of ${{ balance }} USD
      {% if rebate_amount %}
        , combined with the ${{ rebate_amount }} USD  from the prorated rebate from your current plan,
      {% endif %}
      is not enough to choose this new plan.
      <a  class="alert-link" href="/topup/?amount={{ topup_needed }}">Top up your account with ${{ topup_needed }} USD </a> to be able to choose this plan.
    </div>

  {% endif %}

  <form id="" action='' method=POST>
  </form>
  {% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
      {% for error in form.non_field_errors %}
        {{ error }}
      {% endfor %}
    </div>
  {% endif %}

  {% if form.json.errors %}
    <div class="alert alert-danger" role="alert">
      {% for error in form.json.errors %}
        {{ error }}
      {% endfor %}
    </div>
  {% endif %}

  <form id="" action='' method=POST>
    {% csrf_token %}


    <input type="hidden" value='{{ selected_plan }}' name="plan">


    <button class="btn btn-primary" id='submit'>Choose Plan</button>
  </form>

  <script>
    $(function(){
      var activeurl = window.location.pathname;
      $('a[href="/plans/"]').addClass('active');
    })
  </script>
{% endblock content %}
