{% extends "base.html" %}

{% load static %}

{% block head %}
  {{ block.super }}
  <script src ="https://payme.functup.com/modal/btcpay.js"></script>
{% endblock%}

{% block content %}
  {{ block.super }}

  <div class="pt-5 row justify-content-md-center">
    <div class="col-6">

      {% if detail %}
        <div class="alert alert-info">
          {{ detail }}
        </div>
      {% endif %}


      {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
          {% for error in form.non_field_errors %}
            {{ error }}
          {% endfor %}
        </div>
      {% endif %}

      {% if form.json.errors %}
        <div class="alert alert-danger" role="alert">
          {% for error in form.json.errors %}
            {{ error }}
          {% endfor %}
        </div>
      {% endif %}


      <form id="" action='' method="POST">
        {% for field in form %}
          <div class="fieldWrapper">
            {{ field }}
            {% if field.help_text %}
              <p class="help">{{ field.help_text }}</p>
            {% endif %}
          </div>
        {% endfor %}
        {% csrf_token %}
        <button class="btn btn-success mt-4 btn-lg" id='submit'>Create invoice</button>
      </form>


      {% for invoice in new_invoices %}
        {% if forloop.first %}
          <script>
            window.btcpay.showInvoice("{{invoice.data.invoice.id}}");
          </script>
        {% endif %}
      {% endfor %}
    </div>
  </div>

{% endblock content %}
