{% extends "base.html" %}

{% block content %}
{{ block.super }}
  {% if detail %}
    <div class="alert alert-info">
      {{ detail }}
    </div>
  {% endif %}
  <div class="btn-group">
    {% if previous %}
      <a class="btn" href="{{ previous }}">Previous Page</a>
    {% endif %}
    {% if next %}
      <a class="btn" href="{{ next }}">Next Page</a>
    {% endif %}
  </div>
  <table class="table table-hover table-sm">
    <thead>
      <tr>
        <th>id</th>
        <th>amount</th>
        <th></th>
        <th>status</th>
        <th>info</th>
        <th>created</th>
      </tr>
    </thead>
    <tbody>
      {% for r in results %}
        <tr>
          <td>{{ r.uuid }}</td>
          <td>
            {{ r.amount | floatformat:8}}  BTC
          </td>
          <td>
            {% if r.status == 'new' %}
                <button class="btn btn-success btn-small" onclick=window.btcpay.showInvoice("{{r.invoice_id}}") data-loading-text="Loading...">Show invoice</button>
                <a href="{{ r.invoice_url }}" target="blank"> Link to invoice</a>
            {% endif %}
          </td>
          <td>
              {{ r.status }}
          </td>
          <td>
            {{ r.info }}  
            {% if r.invoice_price %}
            {{ r.invoice_price }} BTC 
            {% endif %}
          </td>
          <td>
            {{ r.created|date:"SHORT_DATE_FORMAT" }} 
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if not results %}
    <div class="alert alert-block alert-info">
      <h4>No transaction here...</h4>
    </div>
  {% endif %}
{% endblock %}

